@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-optical-sizing: auto;
  font-style: normal;
}

.logo {
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  color: rgba(255, 255, 255, .9)
}

#section-quick {
  background: url('/bg.png') no-repeat;
  background-size: 140vw 100vh;
  background-position: center;
}

h4 {
  font-size: 1.5rem;
}

.card-generator {
  background: rgba(255, 255, 255, 0.5);
}

.input {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 11px;
}

.tf-input-label {
  font-variant: small-caps;
  font-weight: 500;
  color: #B271FF;
  width: 100px;
  padding-left: 5px;
}