@tailwind base;
@tailwind components;
@tailwind utilities;

.text-last-center {
  text-align-last: center;
}

.small-caps {
  font-variant: small-caps;
}

.right-1\/10 {
  right: 10%;
}

.left-1\/10 {
  left: 10%;
}

.top-1\/6 {
  top: 16.67%;
}


/* TODO: cleanup & move to trollfactory.css */

#generate-btn {
  background: rgb(255 255 255 / 70%);
  color: #B271FF;
  width: min-content;
  border: 0;
  border-radius: 100px;
  position: absolute;
  right: -7%;
  bottom: -15%;
}

@media (min-width: 640px) {
  #generate-btn {
    margin-right: -20px;
    bottom: -10%;
    right: 0;
  }
}

#generate-btn:hover {
  background: rgb(255 255 255 / 85%);
}