@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');

:root {
  --color-lavender-amethyst: #B271FF;
}


/* TrollFactory theme colors */

.text-tf-0 {
  color: var(--color-lavender-amethyst);
}

.text-wt-90 {
  color: rgb(255 255 255 / 90%);
}

.bg-wt-50 {
  background: rgb(255 255 255 / 50%);
}

@media (prefers-color-scheme: dark) {
  .dark-bg-bt-50 {
    background: rgb(0 0 0 / 50%);
  }

  .dark-text-bt-70 {
    color: rgb(0 0 0 / 70%);
  }
}

/* TrollFactory logo */

.tf-logo {
  font-family: 'Lexend Zetta', sans-serif;
  font-optical-sizing: auto;
}


/* data input */

.tf-input {
  background: rgb(255 255 255 / 60%);
  transition: all 0.2s;
}

.tf-input:active,
.tf-input:focus,
.tf-input:focus-within,
.tf-input:hover {
  background: rgb(255 255 255 / 80%);
}

@media (prefers-color-scheme: dark) {
  .tf-input {
    background: rgb(255 255 255 / 5%) !important;  /* TODO: don't use !important */
    transition: all 0.2s;
  }

  .tf-input:active,
  .tf-input:focus,
  .tf-input:focus-within,
  .tf-input:hover {
    background: rgb(255 255 255 / 10%) !important;
  }
}

.tf-input-top {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

.tf-input-middle {
  border-radius: 0;
}
  
.tf-input-bottom {
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* backgrounds */

.tf-bg-blur {
  background: url('/bg.png') no-repeat;
  background-size: 140vw 100vh;
  background-position: center;
}

.tf-bg-grid {
  animation: bg-grid-scroll 1.5s infinite;
  animation-timing-function: linear;
  background-image: linear-gradient(rgb(255 255 255 / 20%) 1px, transparent 1px),
                    linear-gradient(to right, rgb(255 255 255 / 20%) 1px, transparent 1px);
  background-size: 150px 150px;
}

@keyframes bg-grid-scroll {
  100% { background-position: 150px 150px }
}

@media (prefers-color-scheme: dark) {
  .tf-bg-blur {
    background-image: url('/bg-dark.png');
  }

  .tf-bg-grid {
    background-image: linear-gradient(rgb(0 0 0 / 20%) 1px, transparent 1px),
                      linear-gradient(to right, rgb(0 0 0 / 20%) 1px, transparent 1px);
  }
}